<%= form_with(model: andar, url: andar.persisted? ? admin_andar_path(andar) : admin_andares_path, method: andar.persisted? ? :patch : :post) do |form| %>
    <% if andar.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(andar.errors.count, "erro") %> proibiram que este andar fosse salvo:</h2>
  
        <ul>
          <% andar.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :numero %>
      <%= form.text_field :numero %>
    </div>
  
    <div class="field">
      <%= form.label :outras_informacoes %>
      <%= form.text_area :outras_informacoes %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  