<%= form_with(model: midia, url: midia.persisted? ? admin_midia_path(midia) : admin_midias_path, method: midia.persisted? ? :patch : :post) do |form| %>
    <% if midia.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(midia.errors.count, "erro") %> proibiram que esta mídia fosse salva:</h2>
  
        <ul>
          <% midia.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :nome %>
      <%= form.text_field :nome %>
    </div>
  
    <div class="field">
      <%= form.label :tempo_duracao %>
      <%= form.number_field :tempo_duracao %>
    </div>
  
    <div class="field">
      <%= form.label :prazo_expiracao %>
      <%= form.text_field :prazo_expiracao, type: :datetime_local %>
    </div>
  
    <div class="field">
      <%= form.label :outras_informacoes %>
      <%= form.text_area :outras_informacoes %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  